.app-footer {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.75em;
  background-color: var(--footer-background);
  color: var(--footer-text);
  font-size: 0.8rem;
}

.app-footer>.social>.social-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .app-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.75em 0.75em;
  }
  .app-footer>.credit {
    padding-bottom: 0.75em;
  }
}